/* ------ Segunda Seccion / Texto de contacto y formulario / Candiesbox ------ */
.contacto {
  text-align: center;
  margin: 0px;
}

.contacto .contacto__titulo {
  color: #592409;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 44px;
}

.contacto .contacto__informacion {
  font-size: 18px;
}

.contacto .contacto__subtitulo {
  color: #ff363b;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 36px;
}

.correccionCaja {
  margin: 0px;
}
