/* ------ Variables para los estilos / Todas las hojas ------ */
/* ------ Colores / Candiesbox ------ */
$yellow-cb: rgb(253, 228, 60);
$brown-cb: rgb(89, 36, 9);
$white-cb: rgb(255, 247, 248);
$red-cb: rgb(255, 54, 59);
$trans-cb: rgb(122, 73, 0);
/* ------ Fuente / Candiesbox ------ */
$font-cb: 'Lobster',
cursive;
/* ------ Operaciones / Candiesbox ------ */
$nBase: 10px;
/* ------ Condicionales / Candiesbox ------ */
$type: chocolatina;

/* ----- Body ----- */
body {
	background-color: $yellow-cb;
	font-family: $font-cb;
}

/* ----- Espacios ----- */
.espacioSecciones {
	margin-bottom: ($nBase*2) !important;
}

.espacioSeccionesMax {
	margin-bottom: 38px !important;
}

.espacioAdicional {
	padding-top: ($nBase+($nBase/2));
}

/* ----- Secciones ----- */
/* ----- Segunda Seccion ----- */
#seccionSegunda {
	margin: 0px;
}
.cajaInternaSeccion {
	margin: 0;
}
.tituloPrincipal {
	color: $brown-cb;
	margin: 0px;
	font-weight: bold;
	font-size: 44px;
}

.sloganPrincipal {
	color: $red-cb;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 36px;
}

.parrafoIntroductorio {
	color: $trans-cb;
	margin-bottom: 0px;
	font-size: 20px;
}