/* ------ Primera Sección / Menu de todas las paginas y logo / Candiesbox ------ */
#seccionPrimera {
	z-index: 100;
}

#barraNavegacion {
	@if $type==chocolatina {
		background-color: $brown-cb;
		margin: 0px;
	}

	@else if $type==bombom {
		background-color: $trans-cb;
		margin: 10px;
	}
}

.logo {
	padding: $nBase;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;

	.logo__imagen {
		padding-left: $nBase;
		height: 56px;
	}

	.logo__texto {
		padding-left: $nBase*2;
		font-size: $nBase*3;
		color: $white-cb;
		margin-bottom: 0px;
	}
}

#contenedorMenu {
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.menu {
	margin-bottom: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;

	.menu__listado {
		list-style: none;
		padding-left: $nBase;
		padding-right: $nBase;

		.menu__listado--letra {
			text-decoration: none;
			font-size: $nBase*2;
			color: $white-cb;
		}

	}

	.menu__listado--animacion:hover {
		background-color: $trans-cb;
	}
}

/* ------ Cuarta Seccion / Pie de pagina y redes sociales / Candiesbox ------ */
#seccionCuarta {
	margin: 0px;
}

.derechos {
	background-image: linear-gradient(to right, $brown-cb, $red-cb);
	padding-top: $nBase;
	padding-bottom: $nBase;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;

	.derechos__titulo {
		color: $white-cb;
		font-size: $nBase*2;
		font-weight: bold;
		margin-bottom: 0px;
	}
}

#cajaRedesSociales {
	background-image: linear-gradient(to left, $brown-cb, $red-cb);
	padding-top: $nBase;
	padding-bottom: $nBase;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.redes {
	.redes__titulo {
		color: $white-cb;
		font-size: $nBase*2;
		font-weight: bold;
		margin-bottom: 0px;
	}

	.redes__logo {
		margin-top: $nBase/2;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;

		.redes__logo--altura {
			height: ($nBase*2)+($nBase/2);
			width: auto;
		}
	}
}
