.standProductos {
    padding: 0;
}
.contenedor--producto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    padding: 0;

    .producto {
        width: 80%;
        height: 90%;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);

        .producto--contenido {
            padding: 20px;
            text-align: center;
            transform: translateY(100px);
            opacity: 0;
            transition: 0.5s;

            .producto__titulo {
                font-size: 30px;
                color: rgb(0, 0, 0);
                pointer-events: none;
            }

            .producto__imagen {
                border-radius: 15px;
                z-index: 1;
            }
            .producto__boton {
                display: inline-block;
                padding: 8px 20px;
                margin-top: 14px;
                background: #fff;
                color: #000;
                border-radius: 20px;
                text-decoration: none;
                font-weight: 500;

            }
        }
    }

    .producto:hover .producto--contenido {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* --------------------------------------------------------- Responsive ------------------------------------------------------------- */
@media only screen and (max-width: 575px) {
    .producto__titulo {
        font-size: 20px;
    }
}